@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

html,body{
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}

.header{
  max-width: 1620px;
  height: 105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.menu{
  display: flex;
}
.menu>li{
  position: relative;
}
.menu>li>a{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 60px;
  font-size: 18px;
  font-weight: 500;
}
.submenu{
  position: absolute;
  left: -10px; /* submenu랑 menu 중간에 두기 */
  width: 100%;
  background-color: #fff;
  border: 1px solid #dddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 20px;
  padding: 15px 10px;
  z-index: 10;
}
.submenu>li{
  margin: 5px 0;
}
.submenu>li>a{
  display: block;
  text-align: center;
  padding: 5px 0;
}
.gnb{
  display: flex;
  align-items: center;
}
.gnb>li{
  cursor: pointer;
}
.gnb>li:nth-child(2){
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}
.gnb>li:nth-child(2)>span{
  width: 100%;
  border-top: 3px solid #004f4a;
}
.gnb>li:nth-child(2)>span:nth-child(2){
  width: 75%;
}

.sitemap_bg{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #004f4a, #22bf8b);
  color: #fff;
}
.sitemap_wrap{
  max-width: 1620px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.sitemap_wrap .close{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.sitemap_wrap .close>span{
  width: 100%;
  border-top: 3px solid #fff;
  position: absolute;
  transform-origin: center center; /* 회전 축 중심점 */
}
.sitemap_wrap .close>span:nth-child(1){
  transform: rotate(45deg)
}
.sitemap_wrap .close>span:nth-child(2){
  transform: rotate(-45deg)
}
.sitemap{
  max-width: 1620px;
  margin: 0 auto;
  padding: 140px 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.sitemap>li>a{
  font-size: 22px;
  font-weight: 700;
}
.s_submenu{
  margin-top: 40px;
}
.s_submenu>li{
  margin: 10px 0;
}
.s_submenu>li>a{
  /* display: block; */
  font-size: 18px;
  padding: 2px 3px;
}
.fnb{
  max-width: 1620px;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #fffa;
  border-bottom: 1px solid #fffa;
  padding: 0 20px;
  box-sizing: border-box;
}
.fnb>li{
  padding: 30px 25px;
}
.fnb>li:nth-child(1){
  padding-left: 0;
}
.fnb>li>a{
  display: block;
  padding: 2px 3px;
  font-weight: 600;
}
.f_info{
  max-width: 1620px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  color: #fffa;
  font-size: 14px;
  padding: 0 20px;
  box-sizing: border-box;
}
.f_info>span{
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.f_info>span:nth-child(1){
  margin-left: 0;
}
.f_info>span::before{
  content: "|";
  margin-right: 20px;
  font-size: 10px;
}
.f_info>span:nth-child(1)::before{
  content: "";
  margin-right: 0;
}


@media all and (max-width: 1400px){
  .menu>li>a{
    padding: 0 40px;
  }
  .sitemap_bg{
    overflow: auto;
  }
  .sitemap{
    flex-wrap: wrap;
    padding-top: 0;
  }
  .sitemap>li{
    width: 33.3%;
    margin-top: 60px;
  }
}
@media all and (max-width: 1200px){
  .menu{
    display: none;
  }
}
@media all and (max-width: 992px){
  .fnb, .f_info{
    display: none;
  }
  .s_submenu>li{
    line-height: 2;
  }
  .s_submenu>li>a::before{
    content: "·";
    margin-right: 10px;
  }
  .sitemap>li{
    width: 100%;
    padding: 0 40px;
    cursor: pointer;
    position: relative;
  }
  .sitemap>li>a::after{
    content: "▼";
    position: absolute;
    right: 40px;
    top: 0;
    font-size: 12px;
  }
  .site_toggle>a::after{
    transform: rotateX(180deg) !important;
  }
}
@media all and (max-width: 600px){
  .gnb>li:nth-child(1){
    display: none;
  }
}


/* main(slide) css */
.main{
  border-top: 1px solid #ddd;
  width: 100%;
  height: calc(100vh - 155px);
}
.main .swiper{
  width: 100%;
  height: 100%;
}
.slide1{
  background: url(../imgs/visual01.png) center center no-repeat;
  background-size: cover;
}
.slide2{
  background: url(../imgs/visual02.png) center center no-repeat;
  background-size: cover;
}
.slide3{
  background: url(../imgs/visual03.png) center center no-repeat;
  background-size: cover;
}
.slide4{
  background: url(../imgs/visual04.png) center center no-repeat;
  background-size: cover;
}
.slide5{
  background: url(../imgs/visual05.png) center center no-repeat;
  background-size: cover;
}
.slide3, .slide4, .slide5{
  color: #fff;
}
.main .swiper-slide{
  height: 100%;
  display: flex;
  align-items: center;
}
.slide_wrap{
  width: 1600px;
  margin: 0 auto;
  display: flex;
}
.s_num{
  font-size: 24px;
  font-weight: 600;
  margin-right: 50px;
  font-family: "Montserrat";
}
.s_title{
  height: 400px;
}
.s_title>p:nth-child(1){
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  background-color: #004f4a;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  /* width: 100px; */
  padding: 5px 15px;
}
.s_title>p:nth-child(2){
  margin: 20px 0 40px;
  font-size: 40px;
  font-weight: 600;
}
.s_title>p:nth-child(2)>span{
  color: #90bd20;
}
.s_title>p:nth-child(3){
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 60px;
}
.s_title>a{
  display: block;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 150px;
  border-radius: 36px;
  position: relative; /* before, after position 기준 */
  color: #fff;
  height: 56px;
}
.s_title>a::before{
  /* hover 변화 주는걸 before로 */
  content: "";
  display: block;
  background: linear-gradient(90deg, #004f4a, #22bfa5);
  height: 56px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 36px;
  transition: all 0.3s;
}
.s_title>a::after{
  content: "자세히 보기";
  position: absolute;
  /* height: 56px; */
  width: 100%;
  left: 0;
  line-height: 56px;
}
/* hover 효과 */
.s_title>a:hover::before{
  width: 0;
  opacity: 0;
}
.s_title>a:hover{
  border: 1px solid #fff;
  color: #555;
}

.ctrl_box{
  width: 224px;
  height: 94px;
  position: absolute;
  right: 5vw;
  bottom: 0;
  background-color: #fff;
  z-index: 20;
  padding: 0 35px;
  box-sizing: border-box;
}
.btns{
  width: 100%;
  height: 85%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.btn_prev, .btn_next{
  cursor: pointer;
  padding: 3px 5px;
}
/* pagination css */
.btns .swiper-pagination{
  position: static;
}
.swiper-pagination-current, .swiper-pagination-total{
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 600;
}
.swiper-pagination-total{
  color: #aaa;
}
.ctrl_box>.swiper-pagination{
  position: static;
}
.ctrl_box>.swiper-pagination .swiper-pagination-progressbar-fill{
  background-color: #333;
}

@media all and (max-width: 767px){
  .s_num, .s_title>p:nth-child(3){
    display: none;
  }
  .main{
    height: 500px;
  }
  .s_title{
    margin-left: 20px;
    margin-top: 50px;
  }
  .s_title>p:nth-child(1){
    font-size: 18px;
  }
  .s_title>p:nth-child(2){
    font-size: 28px;
  }
  .ctrl_box{
    right: 0;
    left: 0;
  }
}


.con1{
  width: 100%;
  background-color: #fafafa;
  padding: 135px 0 150px;
}
.conwrap{
  width: 95%;
  max-width: 1640px;
  margin: 0 auto;
  text-align: center;
}
.conwrap>p:nth-child(1){
  color: #121212;
  font-size: 44px;
  font-weight: 800;
  position: relative;
  display: flex;
  justify-content: center;
}
.conwrap>p:nth-child(1)::before{
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #90bd20;
  border-radius: 50%;
}
.conwrap>p:nth-child(2){
  margin: 30px 0 50px;
  font-size: 18px;
  line-height: 2;
}
.conwrap>p:nth-child(2)>span{
  font-weight: 700;
}
.con1_list{
  display: flex;
}
.con1_list li{
  flex: 1; /* 크기를 가질수 있게 */
}
.con1_list li:nth-child(1)~li{
  border-left: 1px solid #ddd;
}
.con1_list li a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 237px
}
.con1_list li a p:nth-of-type(1){
  color: #666;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0 30px;
  transition: all 0.3s;
}
.con1_list li a p:nth-of-type(2){
  height: 0px;
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  transition: all 0.3s;
}
.con1_list li a p:nth-of-type(2)::after{
  content: "→";
  width: 34px;
  height: 34px;
  background-color: #d2ecea;
  border-radius: 50%;
  font-weight: 700;
  margin-left: 7px;
  /* padding: 5px 7px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.con1_list li a:hover p:nth-of-type(1){
  color: #004f4a;
}
.con1_list li a:hover p:nth-of-type(2){
  height: 34px;
}

.con2{
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 70px 0 115px;
}
.con2_box{
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.con2_box:nth-child(1){
  padding-right: 50px;
}
.con2_box:nth-child(2){
  padding-left: 50px;
  border-left: 2px dotted #ddd;
}
.con2_title>p:nth-child(1){
  color: #666;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4px;
}
.con2_title>p:nth-child(2){
  color: #004f4a;
  font-weight: 800;
  font-size: 42px;
}
.con2_title>p:nth-child(3){
  margin-top: 30px;
  font-size: 20px;
}
.con2_title>a{
  display: flex;
  margin-top: 100px;
  font-size: 14px;
  align-items: center;
}
.con2_title>a::after{
  content: "→";
  width: 34px;
  height: 34px;
  color: #fff;
  background-color: #90bd20;
  border-radius: 50%;
  font-weight: 700;
  margin-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con2_box:nth-child(2)>.con2_title{
  text-align: right;
}
.con2_box:nth-child(2)>.con2_title>a{
  justify-content: flex-end;
}
.con2_box:nth-child(2)>.con2_title>a::after{
  background-color: #004f4a;
}


@media all and (max-width: 1400px){
  .con2_title:nth-child(1){
    width: 180px;
  }
  .con2_title:nth-child(1)>p>br{
    display: none;
  }
}
@media all and (max-width: 1200px){
  .con1_list li a p:nth-of-type(1){
    font-size: 20px;
  }
  .con2{
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .con2_box{
    width: 95%;
    padding: 50px 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .con2_title:nth-child(1){
    width: 33%;
  }
  .con2_box:nth-child(2){
    padding-left: 50px;
    border-left: 0;
    border-top: 2px dotted #ddd;
  }
}
@media all and (max-width: 992px){
  .con1_list li a p:nth-of-type(1){
    font-size: 17px;
  }
}
@media all and (max-width: 767px){
  .conwrap{
    width: 90%;
  }
  .conwrap>p:nth-child(2){
    font-size: 16px;
  }
  .con1_list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .con1_list li{
    width: 33%;
    flex: none; /*  1주면서 크기준거 없앰 */
    border: 0 !important;
    padding: 2px;
    box-sizing: border-box;
  }
  .con1_list li a{
    border: 1px solid #ddd;
    height: 202px;
  }
  .con2_title>p:nth-child(3){
    font-size: 18px;
  }
}
@media all and (max-width: 600px){
  .con2_box{
    flex-wrap: wrap;
  }
  .con2_title>p:nth-child(3){
    width: 100%;
  }
  .con2_title>a{
    margin: 20px 0;
  }
}